/* donate */

/* Donate Rewrite - May 2009 */

ul#levels {
	list-style: none;
	margin-left: 0 !important;
	padding-left: 0;
	overflow: auto;
}

ul#levels li {
	clear: both;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

ul#levels li h2 {
	display: block;
	float: left;
	width: 60px;
	color: #d33;
	font-size: 1.5em;
	margin: 0.25em 0 0;
	padding: 0;
	line-height: 2em;
}

ul#levels li div.donationInfo {
	margin-left: 80px;
	padding: 0 !important;
	margin-top: 0 !important;
}

ul#levels li div.donationInfo a {
	color: #fff;
	display: inline-block;
/*	display: block;
	float: left;
*/	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding: 0px 25px 0px 8px;
	background: #356288 url(../images/donate-arrow.png) no-repeat 97% 51%;
	font-size: 110%;
	margin-top: 1em !important;
	line-height: 1.5em;
}

ul#levels li div.donationInfo a:hover {
	background-color: #5a93c4;
	text-decoration: none;
}

ul#levels li div.donationInfo a.student, ul#levels li div.donationInfo a.donate {
	width: 8em;
}

ul#levels li div.donationInfo a.monthly {
	width: 18em;
	background-position: 99% 51%;
}

ul#levels li div.donationInfo p {
	margin-top: 0;
	padding-top: 0;
}
ul#levels li div.donationInfo p.premiums {
}

ul#levels li div.donationInfo img {
	margin-right: 10px;
	opacity: 0.35;
}


ul#giftsList {
	margin-left: 0 !important;
	padding-left: 0;
	font-size: 0.85em !important;
}

ul#giftsList li {
	padding-bottom: 1.5em;
}

ul#giftsList li img {
	margin-bottom: -7px;
	margin-right: 5px;
	opacity: 0.35;
}

/* End Rewrite */

div.level {
	position:relative;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	padding: 0;
	padding-bottom: 1em;
	margin-bottom: 2em;
}

div.level h2 {
	margin: 0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color: #CCE5E7; /*225F9D*/
	border-bottom: 1px solid #bbd4d6;
	color: #446466;
	padding: 0.5em;
	padding-bottom: 0.4em;
}


div.level h3 {
	position:absolute;
	right: 1em;
	top: -0.32em;
	color: #663A12;
}

div.level ul {
	list-style: none;
	padding: 1em;
	margin: 0;
}

div.level ul li {
	float: left;
	height: 25px;
	margin: 0 0.5em;
	margin-bottom: 0.75em;
}

div.level div.options {
	display: block !important;
	position: relative;
	clear: left;
	border-top: 1px solid #ddd;
/*	margin-top: 8.25em;*/
	padding: 1em 1em 0 1em;
	text-align: right;
}

a.join {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #4374B7;
	color: #fff;
	padding: 0 0.5em;
	border:1px solid #4374b7;
	font-size: 100%;
}

a.join:hover {
	background-color: #DAEFF2;
	color: #666;
	text-decoration: none;
}

div.level div.options div.custom-amount {
	position: absolute;
	top: 0.6em;
	left: 1em;
	font-size: 125%;
	color: #d33;
}

div.level div.options div.custom-amount input {
	font-size: 100%;
	margin-left: 3px;
}

div.level div.options div.custom-amount span {
	color: #000;
	font-size: 70%;
}

#donate-classes {
	margin-bottom: 100px;
}

#donate-classes.index {
	width: 100%;
}

#donate-classes ul.donate {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

#donate-classes li {
	padding: 15px 0;
	margin: 0;
    border-bottom: 1px solid #ccc;
}

#donate-classes li ul li { padding: 20px 25px; }

#donate-classes li ul li { padding: 20px 25px; }

#donate-classes ul.store li {
	padding: 10px 0;
}


#donate-classes li img {
	padding-top: 8px;
	padding-right: 5px;
}
#donate-classes li strong {
	/*padding-right: 30px;*/
}

#donate-classes .amount {
	font-size: 125%;
	font-weight: bold;
	color: #c30;
	width: 70px;
	float: left;
	padding-top: 10px;
}

#donate-classes .spread {
	width: 100px;
	height: 50px;
	padding-top: 20px;
}

#donate-classes code {
	display: block;
	margin-top: 5px;
}

.fair {
	font-size: 90%;
	color: #666;
	float: right;
	padding-top: 10px;
}

.fair img {
	padding: 0 !important;
}
.fair img.donate {
	padding-bottom: 0.25em !important;
}

ul.rewards {
	margin-bottom: 1em;
}
ul.rewards li {
	margin-bottom: 1em;
}




ul.standard {
	list-style-type: disc !important;
	padding-left: 2em;
}

ul.standard li {
	margin-bottom: 1em;
}



table.levels {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

table.levels td, table.levels th {
	text-align: center;
	margin: 0;
	padding: 0;
}

table.levels th {
	padding-bottom: 0.5em;
}

table.levels th h3, .note {
	color: #d33;
}

table.levels h3 {
	margin-bottom: 0;
}

table.levels td {
	padding: 0.5em 0;
}

table.levels td.first {
	padding-left: 0.25em;
	padding-right: 0.25em;
	border-right: 4px double #fff;
}

table.levels td.first img {
	margin: 1px 0;
}

table.levels td img {
	border: none !important;
}

table.levels tr.alt {
	background-color: #ddd;
}

ul.custom-gifts {
	margin-left: 0 !important;
}
ul.custom-gifts li {
	opacity: 0.25;
}

/* One Click donations */
.ui-widget, .ui-widget button, .ui-widget select { 
		font-family: arial !important;
}

#shirtError {
	   color: #f00;
	   padding-left: 1em;
}

#tshirtSize h5 { margin-bottom: 0; }

#premiums p, select { margin-top: 0.25em; }


/* CC Network Menu */
ul#join {
		list-style: none;
		padding: 0;
		margin: 2em 0 0;
}

ul#join li {
	float: left;
		display: block;
		width: 47%;
		margin-right: 2%;
		text-align: center;
}

ul#join li.students {
		border:1px solid #ddd;
		background-color: #eee;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
}

ul#join li.students h2 {
		margin-left: 5%;
		margin-right: 5%;
		color: #777 !important;
}
