/* Donate  page css */

body.donate {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #e1ebf2), color-stop(0.45, #fff)) no-repeat;
	background: -moz-linear-gradient(#e1ebf2 20%, #fff 55%) no-repeat;
}

.donate #title { text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35); }
 
h2.lede {
	font-family: "helvetica", arial, sans-serif;
	font-size: 1.35em;
	font-weight: normal;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

h2.lede img { margin-right: 15px; }

.errorBlock {
	background-color: #fadddd;
	border: 2px solid #fff;
	outline: 1px solid #d33;
	-moz-border-radius: 4px;
	-moz-outline-radius: 3px;
	-webkit-border-radius: 4px;
	-webkit-outline-radius: 3px;
	font-size: 110%;
	margin-bottom: 15px;
	padding-left: 0 !important;
}

.errorBlock h2 { 
	background-color: #ff0;
	background-color: rgba(255, 255, 0, 0.75);
	margin-bottom: 10px;

	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}
.errorBlock p { 
	margin-top: 0;
}

.errorBlock h2, .errorBlock p {
	padding-left: 10px;
}

#bannerBottom {
	background-color: #ccc;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	width: 540px;
	height: 105px;
	padding: 5px 10px 10px 10px;
}

#bannerBottom .bannerGift {
	float: left;
	width: 250px;
	margin-right: 20px;
}
#bannerBottom .bannerGift img {
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 5px;
}
#bannerBottom p {
	margin-top: 0;
}

.sidebarGift {
	background-color: #e0e0e0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 5px;
}
.sidebarGift img {
}
.sidebarGift p {
	font-size: 95%;
	margin-top: 0;
	margin-left: 80px;
}

ul#levels {
	list-style: none;
	margin-left: 0 !important;
	padding-left: 0;
	overflow: auto;
	margin-top: 25px;
}

ul#levels li {
	margin: 0 5px 0 0;
	border: 1px solid #d6d6d6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
/*	background: -moz-linear-gradient(#fafafa, #ececec 10%);
*/	background: -moz-radial-gradient(center top , circle , #FAFAFA 0%, #CCCCCC 120%);
	background: -webkit-gradient(radial, 50% 0%, 0, 50% 0, 220, from(rgb(250, 250, 250)), from(rgb(250, 250, 250)), to(rgb(204, 204, 204))); 
	float: left;
	height: 180px;
	position: relative;
	width: 141px;
}

ul#levels li h2 {
	display: block;
	color: #d33;
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul#levels li div.donationInfo {
	line-height: 1;
}

ul#levels li div.donationInfo a {
	color: #fff;
	display: block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	padding: 6px 8px;
	background: #356288;
	font-size: 100%;
	margin: 0 auto;
	text-align: center;
	width: 105px;
}

ul#levels li div.donationInfo a:hover {
	background-color: #5a93c4;
	text-decoration: none;
}

ul#levels li div.donationInfo a.student, ul#levels li div.donationInfo a.donate {
}

ul#levels li div.donationInfo a.monthly {
}

ul#levels li div.donationInfo p {
	padding-top: 0;
	position: absolute;
	height: 50px;
	left: 9px;
	bottom: 0;
	line-height: 8px;
}
ul#levels li div.donationInfo p.premiums {
	height: 60px;
	line-height: 2;
	margin: 0 10px 75px;
	width: 110px;
}

ul#levels li div.donationInfo img {
	margin-right: 10px;
	opacity: 0.35;
}


ul#giftsList {
	margin-left: 0 !important;
	padding-left: 0;
	font-size: 0.85em !important;
}

ul#giftsList li {
	padding-bottom: 1.5em;
	margin: 0;
}

ul#giftsList li img {
	margin-bottom: -7px;
	margin-right: 5px;
	opacity: 0.35;
}

#giftsList {
	margin-bottom: 1.5em;
}

#giftsList span {
	display: inline-block;
	background-color: #f0f0f0;
	padding: 2px 4px;
	margin-right: 0px;
 	font-size: 90%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#giftsList span:last-child {
	margin-right: 0 !important;
}

/* fixme: David Bowie */
#latestHeroes {
	position: relative;
	text-align: center;
	width: 735px;
	height: 21px;
	background: url('../images/latest-heroes-bar.png') repeat-x;
}

#latestHeroes .marquee {
	text-shadow: 0 1px 0 #f0ede2;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
	color: #555;
	color: rgba(32, 32, 32, 0.75);
}

#latestHeroes .leftCap {
	width: 107px;
	height: 21px;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../images/latest-heroes-left.png') no-repeat;
}

#latestHeroes .rightCap {
	width: 27px;
	height: 21px;
	position: absolute;
	top: 0;
	right: 0;
	background: url('../images/latest-heroes-right.png') no-repeat;
}

div.level {
	position:relative;
	border: 1px solid #ccc;
	-moz-border-radius: 5px;
	padding: 0;
	padding-bottom: 1em;
	margin: 0 auto;
	width: 550px;
}

div.level h2 {
	margin: 0;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	background-color: #CCE5E7; /*225F9D*/
	border-bottom: 1px solid #bbd4d6;
	color: #446466;
	padding: 0.5em;
	padding-bottom: 0.4em;
}


div.level h3 {
	position:absolute;
	right: 1em;
	top: -0.32em;
	color: #663A12;
}

div.level ul {
	list-style: none;
	padding: 1em;
	margin: 0;
}

div.level ul li {
	float: left;
	height: 25px;
	margin: 0 0.5em;
	margin-bottom: 0.75em;
}

div.level div.options {
	display: block !important;
	position: relative;
	clear: left;
	border-top: 1px solid #ddd;
/*	margin-top: 8.25em;*/
	padding: 1em 1em 0 1em;
	text-align: left;
}

a.join {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #4374B7;
	color: #fff;
	padding: 0 0.5em;
	border:1px solid #4374b7;
	font-size: 100%;
}

a.join:hover {
	background-color: #DAEFF2;
	color: #666;
	text-decoration: none;
}

div.level div.options div.custom-amount {
	font-size: 125%;
	color: #d33;
}

div.level div.options div.custom-amount input {
	font-size: 100%;
	margin-left: 3px;
	font-family: arial, sans-serif;
}

div.level div.options div.custom-amount span {
	color: #000;
	font-size: 70%;
}

#joinButton {
	font-size: 88%;
	position: absolute;
	right: 0.7em;
	top: 15px;	
	border: none;
	background-color: #346288;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#joinButton.disabled {
	background-color: #bbb;
}

.fair {
	font-size: 90%;
	color: #666;
	float: right;
	padding-top: 10px;
}

.fair img {
	padding: 0 !important;
}
.fair img.donate {
	padding-bottom: 0.25em !important;
}

#customError {
	display: none;
	color: #c00;
	background-color: #ffb;
	margin-top: 10px;
	padding: 2px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

ul.custom-gifts {
	margin-left: 0 !important;
}
ul.custom-gifts li {
	opacity: 0.25;
}

/* One Click donations */
.ui-widget, .ui-widget button, .ui-widget select { 
	font-family: arial !important;
}

.ui-widget {
	font-size: 1.5em !important;
	text-align: left !important;
}

#shirtError, #pcpError {
	   color: #f00;
	   padding-left: 1em;
}

.ui-widget h5 { 
	margin-bottom: 0 !important; 
	margin-top: 1em !important; }

#moreOptions p { margin-top: 0 !important; }

#premiums { margin-bottom: 0.25em; }
#premiums p, select { margin-top: 0.25em; }

.ui-dialog button.paypal, .ui-dialog button.gc {
	background: none;
	color: #fff;
}

.ui-dialog button.paypal {
	background: url("paypalCheckout.gif") no-repeat scroll 0 0 transparent;
	border: none;
	height: 42px;
	width: 145px;
}

.ui-dialog button.gc {
	background: url("googleCheckout.gif") no-repeat scroll 0 0 transparent;
	border: none;
	height: 43px;
	width: 160px;
}
.ui-dialog button.cancel {
	font-weight: normal;
	float: right;
	color: #444;
}

.ui-dialog button span { display: none; }

.ui-dialog .paymentOptions {
	margin-top: 1.5em;
	border-top: 1px solid #ccc;
}

.ui-dialog .paymentOptions li {
	margin-bottom: 0.5em;
}


/* End of donate page css */

