/* UBERCART */

.product-image {
	width: 370px;
	margin-right: 20px;
	float: left;
}
.product-details {}
.product-pictures {
	clear: both;
	padding-top: 30px;
	padding-bottom: 40px;
}


/* STORE */
h2.sub-section {
	border-top: 1px solid #c0c0c0;
	padding-top: 0.75em;
	margin-top: 1.5em;
}

p.store-options { margin-left: 14em; margin-top: -2em; }

a.store-option {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #4374B7;
	color: #fff;
	padding: 0 1em;
	border:1px solid #4374b7;
}

a.store-option:hover {
	background-color: #DAEFF2;
	color: #666;
	text-decoration: none;
}

ul.item {
	clear: both;
	list-style: none;
	border-top: 1px solid #e0e0e0;
	padding: 15px 0 5px;
	margin: 5px 0;
	height: 5em;
}

ul.item li {
	float: left;
}
ul.item li.img { width: 170px; }
ul.item li.description { width: 30%; }
ul.item li.description strong { font-size: 110%; }
ul.item li.price { width: 20%; font-weight: bold; }
ul.item li.buy { width: 20%; float: right; }

.store-pics {
	height: 250px;
	overflow: hidden;
	width: 100%;
	margin-bottom: 20px;
}
/*.store-pics img { height: 200px; }*/

table#store {
	width: 100%;
}
table#store thead tr {
	background-color: #eee;
}
table#store td, table#store th {
	padding: 2px; margin: 0;
}
