/* page title header */
.block .title-labels h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2.75em;
	line-height: 1.1em;
/*	border:1px solid #ccc;*/
	padding-top: 0;
	margin-top: 0 !important;
	color: #000;
}

.block .title-labels h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 85% !important;
	margin-top: 0.5em !important;
	padding-left: 0.2em;
	color: #505050;
	line-height: 1.4em;
}

#title .title-labels {
/*	float: left;
*/	margin-left: 0px;
	margin-top: 1.25em;

}

#title {
	border-bottom: none;
    height: 5em;
}

/* FIXME: correct main-content class names */
#main-content.store #title .title-labels, 
#main-content.supporters #title .title-labels, 
#main-content.join #title .title-labels,
#main-content.spread #title .title-labels {
	margin-left: 7.74em;
	float:none;
}

#main-content.help #title .title-labels {
	margin-left: 0;
}

#main-content.other #title .title-labels, 
#main-content.commoner #title .title-labels {
	margin-left: 5.9em;
	padding-top: 0.5em;
	float: none;
}

#main-content.call #title .title-labels {
	margin-left: 6.5em;
	float: none;
	border: none;
	margin-top: 2em;
/*	margin-left: -0.5em;
*/}

#main-content.supporters #title .title-labels,
#main-content.spread #title .title-labels {
	margin-top: 2.5em;
/*	margin-left: -0.5em;*/
}

#title .supporters h3 {
	padding-left: 0.1em;
}

#main-content.store #title .title-labels {
/*	margin-top: 1.75em;
	margin-left: -1em;
*/}

/* Page head spot illustrations */
#main-content.store {
	background: url(../images/ident/store-id.png) no-repeat 0px 0;
}

#main-content.supporters {
	background: url(../images/ident/supporters-id.png) no-repeat 0px 0;
}

#main-content.spread /*the word*/ {
	background: url(../images/ident/spread-id.png) no-repeat 0px 0;
}

#main-content.call /*for videos*/ {
	background: url(../images/ident/video-id.png) no-repeat 0px 0;
}

#main-content.join /*the cc network*/ {
	background: url(../images/ident/commoner-id.png) no-repeat 0px 0;
}

#main-content.other /*ways to give */ {
	background: url(../images/ident/give-id.png) no-repeat 0px 0;
}

#main-content.commoner /*letters*/ {
	background: url(../images/ident/letters-id.png) no-repeat 0px 0;
}

#main-content.help /*build the commons*/ {
	background: url(../images/ident/build.png) no-repeat 100% 6%;
}
